USE [Helpbridge]
GO
/****** Object:  Table [dbo].[Crisis]    Script Date: 10/2/2025 11:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crisis](
	[C_ID] [int] IDENTITY(101,1) NOT NULL,
	[C_name] [nvarchar](50) NOT NULL,
	[C_Status] [nvarchar](50) NOT NULL,
	[C_date] [datetime] NOT NULL,
 CONSTRAINT [PK_Crisis] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 10/2/2025 11:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[D_ID] [int] IDENTITY(501,1) NOT NULL,
	[D_Location] [nvarchar](50) NOT NULL,
	[D_Item] [nvarchar](50) NOT NULL,
	[D_status] [nvarchar](50) NOT NULL,
	[D_date] [datetime] NOT NULL,
	[D_comment] [nvarchar](50) NULL,
	[U_ID] [int] NOT NULL,
	[C_ID] [int] NOT NULL,
 CONSTRAINT [PK_Donation] PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 10/2/2025 11:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[R_code] [int] IDENTITY(401,1) NOT NULL,
	[R_Location] [nvarchar](50) NOT NULL,
	[R_item] [nvarchar](50) NOT NULL,
	[R_status] [nvarchar](50) NOT NULL,
	[R_date] [datetime] NOT NULL,
	[R_comment] [nvarchar](max) NULL,
	[U_ID] [int] NOT NULL,
	[C_ID] [int] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[R_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resume]    Script Date: 10/2/2025 11:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resume](
	[Resume_code] [int] IDENTITY(601,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Medical History] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Resume] PRIMARY KEY CLUSTERED 
(
	[Resume_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usertb]    Script Date: 10/2/2025 11:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usertb](
	[U_ID] [int] IDENTITY(301,1) NOT NULL,
	[U_Name] [nvarchar](50) NOT NULL,
	[U_email] [nvarchar](50) NOT NULL,
	[U_gender] [nvarchar](50) NOT NULL,
	[U_role] [nvarchar](50) NOT NULL,
	[U_pass] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 10/2/2025 11:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[V_Id] [int] IDENTITY(201,1) NOT NULL,
	[V_Name] [nvarchar](50) NOT NULL,
	[V_Pass] [nvarchar](50) NULL,
	[V_Email] [nvarchar](50) NOT NULL,
	[V_gender] [nvarchar](50) NOT NULL,
	[V_phone] [nvarchar](50) NOT NULL,
	[V_task] [nvarchar](max) NULL,
 CONSTRAINT [PK_Volunteer] PRIMARY KEY CLUSTERED 
(
	[V_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Crisis] ON 

INSERT [dbo].[Crisis] ([C_ID], [C_name], [C_Status], [C_date]) VALUES (101, N'Food Relief- Dhaka 2024', N'Open', CAST(N'2024-09-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Crisis] ([C_ID], [C_name], [C_Status], [C_date]) VALUES (102, N'Earthquake Support – Sylhet 2025', N'Closed', CAST(N'2025-03-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Crisis] ([C_ID], [C_name], [C_Status], [C_date]) VALUES (104, N'Cyclone Aid – Chattogram 2025', N'Open', CAST(N'2025-09-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Crisis] OFF
GO
SET IDENTITY_INSERT [dbo].[Donation] ON 

INSERT [dbo].[Donation] ([D_ID], [D_Location], [D_Item], [D_status], [D_date], [D_comment], [U_ID], [C_ID]) VALUES (501, N'Dhaka', N'Food', N'Delivered', CAST(N'2024-09-20T00:00:00.000' AS DateTime), N'Can i appy for volunteer position?', 304, 101)
INSERT [dbo].[Donation] ([D_ID], [D_Location], [D_Item], [D_status], [D_date], [D_comment], [U_ID], [C_ID]) VALUES (502, N'Sylhet', N'Cloths,Money', N'Delivered', CAST(N'2025-03-27T00:00:00.000' AS DateTime), NULL, 305, 102)
SET IDENTITY_INSERT [dbo].[Donation] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([R_code], [R_Location], [R_item], [R_status], [R_date], [R_comment], [U_ID], [C_ID]) VALUES (401, N'Dhaka', N'Food,Medicine ', N'Rejected', CAST(N'2024-09-22T00:00:00.000' AS DateTime), N'we need urgent help', 301, 101)
INSERT [dbo].[Request] ([R_code], [R_Location], [R_item], [R_status], [R_date], [R_comment], [U_ID], [C_ID]) VALUES (402, N'Dhaka', N'Money', N'Delivered', CAST(N'2025-03-19T00:00:00.000' AS DateTime), NULL, 302, 102)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Resume] ON 

INSERT [dbo].[Resume] ([Resume_code], [Name], [Email], [Gender], [Medical History], [Phone], [Status]) VALUES (601, N'John', N'john@gmail.com', N'Male', N'Dust Allergy', N'01799878767', N'Rejected')
INSERT [dbo].[Resume] ([Resume_code], [Name], [Email], [Gender], [Medical History], [Phone], [Status]) VALUES (602, N'Calvin', N'calvin@gmail.com', N'Male', N'Fit and fine ex army officer', N'01987364789', N'You are Selected')
INSERT [dbo].[Resume] ([Resume_code], [Name], [Email], [Gender], [Medical History], [Phone], [Status]) VALUES (605, N'Tanjila', N'tanjila@gmail.com', N'Female', N'No medical hostory', N'01700833263', N'You are Selected')
SET IDENTITY_INSERT [dbo].[Resume] OFF
GO
SET IDENTITY_INSERT [dbo].[Usertb] ON 

INSERT [dbo].[Usertb] ([U_ID], [U_Name], [U_email], [U_gender], [U_role], [U_pass]) VALUES (301, N'Asif', N'asif@gmail.com', N'Male', N'Helpseeker', N'1234')
INSERT [dbo].[Usertb] ([U_ID], [U_Name], [U_email], [U_gender], [U_role], [U_pass]) VALUES (302, N'Sumaiya', N'sumaiya@gmail.com', N'Female', N'Helpseeker', N'##11')
INSERT [dbo].[Usertb] ([U_ID], [U_Name], [U_email], [U_gender], [U_role], [U_pass]) VALUES (304, N'Shuvo', N'shuvo@gmail.com', N'Male', N'Donar', N'ab12')
SET IDENTITY_INSERT [dbo].[Usertb] OFF
GO
SET IDENTITY_INSERT [dbo].[Volunteer] ON 

INSERT [dbo].[Volunteer] ([V_Id], [V_Name], [V_Pass], [V_Email], [V_gender], [V_phone], [V_task]) VALUES (201, N'Asiful Islam', N'123', N'asiful@gmail.com', N'Male', N'01700833263', N'Crowd management')
INSERT [dbo].[Volunteer] ([V_Id], [V_Name], [V_Pass], [V_Email], [V_gender], [V_phone], [V_task]) VALUES (202, N'Tanjila akter', N'tanjila123', N'tanjilaakter@gmail.com', N'Female', N'019788344367', N'Verification of donar items')
INSERT [dbo].[Volunteer] ([V_Id], [V_Name], [V_Pass], [V_Email], [V_gender], [V_phone], [V_task]) VALUES (203, N'Sakib', N'abc12', N'sakib@gmail.com', N'Male', N'01890233456', N'Social media promotion')
SET IDENTITY_INSERT [dbo].[Volunteer] OFF
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK_Donation_Crisis] FOREIGN KEY([C_ID])
REFERENCES [dbo].[Crisis] ([C_ID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK_Donation_Crisis]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK_Donation_User] FOREIGN KEY([U_ID])
REFERENCES [dbo].[Usertb] ([U_ID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK_Donation_User]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Crisis] FOREIGN KEY([C_ID])
REFERENCES [dbo].[Crisis] ([C_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Crisis]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Request1] FOREIGN KEY([U_ID])
REFERENCES [dbo].[Usertb] ([U_ID])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Request1]
GO
